@model DestinationPortalModel
@using Newtonsoft.Json;
@{
    Layout = "_LoginLayout";
    var paid = Model.Payments.Where(x => x.ResultStatus == "OK").Sum(x => x.Price);
}

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #7E57C2 !important;
    }
</style>
<div id="login_form">
    <form id="pay_form" action="/DestinationPortals/Pay/@Model.Id" method="post">
        <div id="login_form_box" class="justify-content-center form_container">


            <div style="width:250px;margin:auto;">
                <div>مبلغ</div>
                <div>
                    <h5>
                        @Model.Price.ToString("##,###")
                    </h5>
                </div>
            </div>
            <div style="height:20px;"></div>
            <div style="width:250px;margin:auto;">
                <div>عنوان</div>
                <div>
                    <h5>
                        @Model.Title
                    </h5>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn btn-success">
                پرداخت
                <div class="price-box">
                    @Model.Price.ToString("##,###")
                    <div><i class="fa fa-plus"></i> @Pricing.CalcWagePrice(Model.Price)</div>
                </div>
            </button>
        </div>
    </form>
</div>
