@model DestinationPortalModel
@using Newtonsoft.Json;
@{
    Layout = "_LoginLayout";
}

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #7E57C2 !important;
    }

    .user_card {
        background: #B39DDB;
    }

    .brand_logo_container {
        background: #7E57C2;
    }
</style>
<div id="login_form">
    <form id="pay_form" action="/DestinationPortals/Pay/@Model.Id" method="post">
        <div id="login_form_box" class="justify-content-center form_container">


            <div class="" style="width:250px;margin:auto;">
                <div style="width:100%;">مبلغ</div>
                <input type="text" id="Price" name="Price" class="form-control "
                       maxlength="10" style="text-align:right;margin-top:5px;" placeholder="ریال">
            </div>
            <div style="height:20px;"></div>
            <div style="width:250px;margin:auto;">
                <div>عنوان</div>
                <div>
                    <h5>
                        @Model.Title
                    </h5>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn btn-success">پرداخت</button>
        </div>
    </form>
    <script>
                        $("#pay_form").submit(function () {
                            var data = @(Html.Raw(JsonConvert.SerializeObject(Model)));
                            if (!data.Price && !$("#Price").val()) {
                                notify('خطا', 'لطفا مبلغ را وارد نمایید!', 'error');
                                return false;
                            }
                        });
    </script>
</div>
