ّ@using Newtonsoft.Json;
@{
    Layout = "_LoginLayout";
}

<style>
    body,
    html {
        margin: 0;
        padding: 0;
        height: 100%;
        background: #7E57C2 !important;
    }

    .user_card {
        background: #B39DDB;
    }

    .brand_logo_container {
        background: #7E57C2;
    }
</style>
<div id="login_form">
    <div id="login_form_box" class="justify-content-center form_container">
        @if (ViewBag.OK == "OK")
        {

            <div style="width:250px;margin:auto;">
                <div>
                    <h3>
                        پرداخت با موفقیت انجام شد
                    </h3>
                </div>
            </div>
        }
        else
        {
            <div style="width:250px;margin:auto;">
                <div>
                    <h3>
                        پرداخت با موفقیت انجام نشد
                    </h3>
                </div>
            </div>
        }

    </div>
</div>

