@{ 
    ViewData["Title"] = "حساب های بانکی";
}
<div id="page_box">
    <div data-bind="foreach: accounts">
        <div class="r_row">
            <div class="row">
                <div class="col-md-4">
                    <span>شناسه: </span>
                    <span data-bind="text: accountId"></span>
                </div>
                <div class="col-md-4">
                    <span>کد ملی: </span>
                    <span data-bind="text: nationalCode"></span>
                </div>
                <div class="col-md-4">
                    <span>تاریخ: </span>
                    <span data-bind="text: jCreatedAt"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span>شماره شبا: </span>
                    <span data-bind="text: ibaN_code"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="add_row_btn btn btn-success" data-bind="click: addItem"><i class="fa fa-plus"></i></div>
    <div class="r modal fade" tabindex="-1" role="dialog" data-bind="modal: addFormShow">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="tab-content" style="padding-top:10px;">
                        <div>
                            <label>شماره شبا</label>
                            <input type="text" class="form-control" data-bind="value: IBANCode" />
                        </div>
                        <div style="margin-top:10px;">
                            <label>کد ملی</label>
                            <input type="text" class="form-control" data-bind="value: NatCode" />
                        </div>
                        <div style="margin-top:10px;">
                            <label>تاریخ تولد</label>
                            <input type="text" class="form-control" data-bind="value: Birthdate" />
                        </div>
                    </div>

                </div>
                <div class="modal-body">
                    <button class="btn btn-success" data-bind="click: saveNewAccount">ثبت</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //$("#first_tab a").click();

    function viewModel(defaults) {
        var self = this;
        self.addFormShow = ko.observable(false);
        self.accounts = ko.observableArray(defaults);
        self.NatCode = ko.observable('');
        self.Birthdate = ko.observable('');
        self.AccountId = ko.observable('');
        self.CardNo = ko.observable('');
        self.IBANCode = ko.observable('');
        self.BankId = ko.observable('');
        self.reload = function () {
            $.ajax({
                url: '/BankAccounts/GetAccounts',
                method: 'POST',
                contentType: 'applicaiton/json;charset=utf8',
                success: function (e) {
                    self.accounts(e);
                }
            });
        };
        self.saveNewAccount = function () {
            $.ajax({
                url: '/BankAccounts/Add',
                method: 'POST',
                contentType: 'application/json;charset=utf8',
                beforeSend: function () { },
                data: ko.toJSON(self),
                success: function (e) {
                    self.accounts.push(e);
                    self.addFormShow(false);
                    notify('افزودن حساب', 'حساب بانکی با موفقیت افزوده شد.', 'success');
                },
                complete: function () { }
            });
        }
        self.addItem = function () {
            self.addFormShow(true);
        }
        self.reload();
    }
    var model = new viewModel([]);
    ko.applyBindings(model, $("#page_box")[0]);



</script>


