@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div id="main_page_box">

</div>
<script>
    function loadpage(addr) {
        $.get(addr, function (e) {
            animateCSS('.addr-title', 'fadeOutLeftBig');
            animateCSS('.head-tool-box', 'fadeOutLeftBig');
            animateCSS("#main_page_box", 'fadeOutLeftBig', function () {
                $("#main_page_box").html(e);
                var title = $(e).filter("#r_title").text();
                document.title = title;
                $(".addr-title").text(title);
                animateCSS("#main_page_box", 'fadeInRightBig');
                animateCSS('.addr-title', 'fadeInRightBig');
                animateCSS('.head-tool-box', 'fadeInRightBig');
                $('.page-grid').height(window.innerHeight - 150);
                typeof (qweqwe) != 'undefined' && initOnAjax();
            });
        });
    }
    window.addEventListener('popstate', function () {
        loadpage(location.pathname);
    });
    $(function () {
        if (location.pathname == '/' || location.pathname == '')
            loadpage("/Report/Index");
        else
            loadpage(location.pathname);
    });

    const pushUrl = (href, title) => {
        history.pushState({}, title, href);
        window.dispatchEvent(new Event('popstate'));
    };
    $('#sidebar-wrapper > div > ul > li > a').click(function (e) {
        e.preventDefault();
        $('#sidebar-wrapper > ul > li').removeClass('active');
        $(this).addClass('active');
        var addr = $(this).attr('href');
        var title = $('#sidebar-wrapper > div > ul > li > a[href="' + location.pathname + '"]').text();
        document.title = title;
        $("#menu_toggle_btn").click();
        pushUrl(addr, title);
        return;
    });

</script>